<html>
    <head>
        <title>drtzzdrt</title>
    </head>
    <body>
        <div>
            <h1>very importnat</h1>
            <h2>var2 = flase</h2>
            <h1>iportant:</h1>
        </div>
        <div>
            <h1>asol importnat</h1>
            <h2>var2 = flase</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue orci vitae nisi<br>
                pellentesque, at viverra nulla placerat. Sed porta odio orci, sit amet eleifend augue vestibulum<br>
                vel. Vivamus interdum ultricies dolor, eu placerat libero pretium eu. Proin tincidunt varius<br>
                metus vel varius. Quisque venenatis metus vestibulum, vestibulum tellus vitae, faucibus erat.<br>
                Ut id eleifend ex, at semper diam. Donec ac auctor odio. Duis condimentum sodales sapien, at<br>
                fringilla nulla scelerisque a. Donec quam tortor, elementum auctor tempus a, vestibulum vel<br>
                nisl. In sed nisi sit amet ex lobortis lobortis a quis nunc. Suspendisse sodales facilisis<br>
                nunc, quis rhoncus nisl laoreet vel. Morbi nec dolor feugiat, facilisis felis non, suscipit<br>
                justo. Duis vestibulum ipsum vel quam aliquam, nec laoreet lectus placerat. Cras congue, odio<br>
                a pretium efficitur, turpis magna consequat massa, eu ullamcorper arcu magna at quam. Quisque<br>
                tortor tellus, lobortis a rutrum id, pulvinar eu orci. In egestas dui tellus, in dictum neque pulvinar id.
            </p>
            <em>curcial!!</em><br>
            <a href="adimn">"locahlost"</a>
            <p>test world</p>
            <ul>
                <li>zguii</li>
                <li>zuhii</li>
                <li>qguni</li>
            </ul>
            <strong>seriuos<br> text</strong>
        </div>
        <div>
            <h1>Vivamus interdum</h1>
            <h2>mem 0xa0000</h2>
            <p>
                Ut sagittis pulvinar pharetra. Quisque metus metus, ultrices in feugiat vitae, aliquam<br>
                vel ex. Vestibulum finibus mauris quis mauris fermentum, vel commodo metus euismod.<br>
                Aenean vitae odio at ligula ullamcorper accumsan in sit amet ligula. Nulla facilisi.<br>
                Sed non scelerisque tellus. <a href="adm!n">"Praesent "</a>in diam a ligula bibendum sagittis in eu massa.<br>
                Proin iaculis placerat facilisis. Aliquam aliquam sem sit amet tempus commodo.
            </p>
            <em>curcial!!</em><br>
            <a href="adimn">"locahlost"</a>
            <p>test world</p>
            <ul>
                <li>zguii</li>
                <li>zuhii</li>
                <li>qguni</li>
            </ul>
            <strong>seriuos<br> text</strong>
        </div>
    </body>
</html>